/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

/* Menu Lateral */
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    position: fixed;
    height: 100%;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

/* Conteúdo da Página */
.content {
    margin-left: 250px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}
